<app-scroll-bottom></app-scroll-bottom>

<div class="container" style="text-align: center; justify-content: center; align-items: center;">
  <h1>Kawasaki Ninja ZX-10R KRT<br> 2020 về Việt Nam, giá từ 571<br> triệu đồng</h1>
  <b>HCM</b><p>đăng lúc: 2/2/2020</p>
  <h4>Phiên bản nâng cấp giữa vòng đời của ZX-10R được trang bị động<br> cơ thế hệ mới giúp tăng thêm công suất, dàn áo bên ngoài cũng<br> được thay đổi giúp tăng thêm nét thể thao.</h4>

  <img src="https://znews-photo.zadn.vn/w1024/Uploaded/dqvpxpck/2020_02_22/1_ZX10R2020_zing.jpg" alt="" class="">
  <p>Kawasaki Việt Nam vừa mang về mẫu sportbike hạng nặng Ninja ZX-10R thế hệ mới, mẫu<br> xe này được thay đổi bộ tem cùng nâng cấp đáng giá bên trong động cơ. Xe có giá bán tại<br> Việt Nam là 571 triệu đồng.</p>

  <img src="https://znews-photo.zadn.vn/w1024/Uploaded/dqvpxpck/2020_02_22/2_ZX10R2020_zing.jpg" alt="" class="">
  <p>Kích thước của ZX-10R KRT 2020 ở mức 2.085 x 740 x 1.145 mm (dài x rộng x cao), khối<br> lượng ướt 206 kg. Các thông số về thiết kế vẫn được giữ nguyên tương tự đời cũ.</p>

  <img src="https://znews-photo.zadn.vn/w1024/Uploaded/dqvpxpck/2020_02_22/3_ZX10R2020_zing.jpg" alt="" class="">
  <p>Nhìn từ phía trước, ZX-10R cho cảm giác mạnh mẽ với thiết kế đối xứng của cụm đèn<br> pha, ở giữa là khe hút gió khá lớn cùng dãy đèn LED phía trên.</p>

  <img src="https://znews-photo.zadn.vn/w1024/Uploaded/dqvpxpck/2020_02_22/4_ZX10R2020_zing.jpg" alt="" class="">
  <p>Dàn chân trước sử dụng giảm xóc hành trình ngược của Showa. Hệ thống phanh trên xe<br> là dạng phanh kép 330 mm ở phía trước và phanh đơn 220 mm ở phía sau, cả 2 đều sử<br> dụng kẹp phanh đến từ Brembo.</p>

  <img src="https://znews-photo.zadn.vn/w1024/Uploaded/dqvpxpck/2020_02_22/5_ZX10R2020_zing.jpg" alt="" class="">
  <p>Kawasaki trang bị sẵn cho ZX-10R 2020 trợ lực điện tử Ohlins, loại trợ lực này sẽ tự động<br> điều chỉnh độ cứng/nhẹ dựa theo tốc độ chạy và chế độ lái.</p>

  <img src="https://znews-photo.zadn.vn/w1024/Uploaded/dqvpxpck/2020_02_22/14_ZX10R2020_zing.jpg" alt="" class="">
  <p>Đồng hồ trên xe đậm chất thể thao với dãy đèn báo tua máy chiếm phần lớn diện tích, các<br> biểu tượng thông báo khác có thiết kế khá nhỏ.</p>

  <img src="https://znews-photo.zadn.vn/w1024/Uploaded/dqvpxpck/2020_02_22/7_ZX10R2020_zing.jpg" alt="" class="">
  <p>Tay phanh trên xe đến từ hãng Brembo có khả năng điều chỉnh khoảng cách.</p>
</div>

<app-scroll-top></app-scroll-top>
